:root {
    --title: #fffcf9;
    --subtitle: #b3b3b3;
    --bg-button: #e9e6e3;
    --tx-button: #000000;
    --background: linear-gradient(43deg, #102d71 0%, #000000 52%, #c12a23 100%);
}
  
* {
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    background: var(--background);
}

.container{
    width: 630px;
    margin-left: auto;
    margin-right: auto;
} 

.topo .logo{
    width: 88px;
    height: 63px;
    margin-top: 125px;
    margin-left: auto;
    margin-right: auto;
}

.topo .logo img{
    width: 88px;
    height: 63px;
}

.topo .slogan p{
    color: var(--title);
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.box-movies{
    color: var(--title);
}

.botao {
    width: 181px;
    height: 47px;
    background: var(--bg-button);
    color: var(--tx-button);
    
    margin-left: auto;
    margin-right: auto;
}

.botao img {
    width: 36px;
    height: 26px;
}

.botao .click {
    font-size: 12px;
    font-weight: bold;
}

.instrucao p{
    color: var(--title);
    width: 381px;
    height: 42px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
}
